langchain
langchain-core
langchain-community

langchain-openai
langchain-huggingface
langchain-groq

ddgs
langchain-tavily
tavily-python

python-dotenv
requests
streamlit

psycopg[binary,pool]
langgraph-checkpoint-postgres